# Chest-Counter by Lady Cara
# https://dragon-wiki.com     ---  Download & updates : https://bit.ly/OP-CCC
#
zip = c1

# This information is for a multiple clan administration. In every configuration
# the arrangement of the clan names must be retained! Open the files
# bin/tb-c1-en to tb-c4-en and adjust the clan-names.
# ---
# Diese Informationen sind für eine Multiple Clanverwaltung. In jeder Konfiguration
# muss die Anordnung deiner Clannamen beibehalten werden! Öffne hierzu auch die Dateien
# bin/tb-c1-en bis tb-c4-en und passe die Clannamen an.
clanname1  = HALO
clanname2  = LUNA
clanname3  = clanname3
clanname4  = clanname4

# The Path to the PowerShell-GUI's. Open the ps1 files and customize the full clan name.
# If the default path has been changed, adjust it accordingly.
# ---
# Der Pfad zu den PowerShell-GUI's. Öffne die ps1 Dateien und passe die Clannamen an.
# Wurde der Standard-Pfad verändert, diesen auch anpassen.
pspath1 = ../bin/tb-c1-en.ps1
pspath2 = ../bin/tb-c2-en.ps1
pspath3 = ../bin/tb-c3-en.ps1
pspath4 = ../bin/tb-c4-en.ps1

# This file is where the captured chest information is stored. It needs to manually cleared.
# Dies ist die Datei, in welcher die Informationen zu den Clantruhen gespeichert werden.
data        = ../data/captured-datas-c1.txt
total       = ../data/total-datas-c1.txt

# The /working directory contains files useful for debugging and troubleshooting. 
# Two sets of files are created every time a capture is run.
working     = ../working-c1

# The /final directory contains .csv files with EOD processed data where 
# points have been calculated for each captured chest
# In diesem Ordner werden die finalen Dateien gespeichert.
final       = ../data

# The /archive diretory contains copies of the generated data files
archive     = ../archive-c1

# The scores-xxxx.csv file contains the points awarded for each type of chest. You can chose 3 Configs
# and you can edit the scores-xxx.csv with an editor. Delete the # which score you will chose and 
# set the symbol # at the other scores, you will not use. You can also do your own score-file!
# 3 Score-Konfigurationen stehen zur Auswahl, welche die Punkte zu den verschiedenen Clantruhen vergeben. 
# ---
# Alle Score-Konfigurationen können mit einem editor (Notepad++, Visual Studio) angepasst werden.
# Entferne # bei der Score, die du haben möchtest und setze dann # bei den anderen scores die du nicht
# haben möchtest. Du kannst auch deine eigene score-Datei erstellen!
# low = beginner clan, high = Level 20+, ultra = Level 25+
# ---
# score     = ../config/scores-low.csv
# score     = ../config/scores-high.csv
# score     = ../config/scores-ultra.csv
score       = ../config/scores-lod.csv

# The players.csv file contains player names and potential aliases for each player. 
# Whenever the program runs into an unknown player name this can be automatically added. 
# Problems with same Player-names like Moogen, Moogahn, Moo => so add this manually to the list.
# If a player is wrong detected, you can also type the right and wrong name to the list. Example:
# Player "Cleo" is detected as "Clr#f" => players.csv: Cleo,cleo,Clr#f
# The playernames should be added as: Correct Name,lowercase name,alias1,alias2.... 
# Never delete the player: unknown from the player-list, if unknown is missed add him to the list.
# ----
# Die players.csv beinhaltet die Namen der Spieler im Clan. Wenn ein unbekannter Spielername erkannt
# wird, fragt das Programm nach dem Namen und speichert es automatisch in die Liste. Probleme sind
# fast gleichnamige Spieler wie Moogen, Moogahn oder Moo => Füge diese Spielernamen besser manuell
# zu players.csv hinzu, denn es kann passieren, dass die Namen-Fehlerkennung die Truhen einem anderen
# fast gleichnamigen Spieler zuweist. Eine permanente Namens-Fehlerkennung kann in players.csv 
# korrigiert werden. Beispiel: Fehlerkannt wird "Clr#f" ind ie players.csv muss dann: 
# richtig,kleinschreibung,fehlerkennung(en): Cleo,cleo,Clr#f
# Entferne niemals den Spieler unknown aus der Spielerliste, fehlt dieser, füge ihn hinzu.
players     = ../config/players-c1.csv

# The data_quality.csv file contains some chest name mapping information 
# Useful for overcoming potential OCR quality issues.
quality     = ../config/data_quality.csv

# OUTDATED, SEE FIXWORDS! The fix_ocr.csv file can handle certain types of OCR issues
fix_ocr     = ../config/fix_ocr.csv

# FIXWORDS! Fixes bad Words and Wordphrase ---
# At this file you can add 1st line the bad word or word-phrase next line the good
# word or word-phrase. With the Summary, it will check the bad word-phrases and
# correct them, before the final files will be created.
# ---
# FIXWORDS! Korrigiert schlechte Wörter und Wortgruppen ---
# In dieser Datei können in der erste Zeile die schlechte Wortgruppe und in der nächsten Zeile
# die gute Wortgruppe hinzugefügt werden. Mit erstellen der Zusammenfassung werden die falschen
# Wörter oder Wortgruppen mit den Richtigen umbenannt, bevor die finalen Dateien erstellt werden. 
fixwords    = ../config/fixwords.csv

# Just the name of the clan. Will be added to generated file names, to manage multiple clans
# Der Name deines Clans. Der Clanname wird an die finalen Dateien angefügt.
clan = HLO

# Screen coordinates for capturing a screen shot of the Gifts screen. 
# This should only include the text information about the chest, not any of the graphics!
# ---
# Die Bildschirmkoordinaten um die Geschenke-Informationen zu erfassen.
# Die Koordinaten sollten so ausgerichtet sein, dass sie lediglich den Text erfassen, keine Grafiken!
# ---
# TB Client, normal Window Mode, maximized.
# try for a screen-resolution 1024x768 (1 Chests, more stable than 4): x1=342,y1=189,x2=713,y2=257
# try for a screen-resolution 1920x1080 (1 Chests, more stable than 4): x1=789,y1=345,x2=1165,y2=415
# try for a screen-resolution 2560x1440 (1 Chest, more stable than 4) : x1=1053,y1=462,x2=1460,y2=551
x1  = 783
y1  = 421
x2  = 1156
y2  = 510

# x, y coordinates for the Open button in the Gifts screen. 
# This is where the program will click to collect the chests.
# The Hand must be 100% on the open-button!
# ---
# Die x & y Koordinaten für den Öffnen-Button der Geschenke.
# Die Hand muss 100% auf dem Öffnen-Button sein!
# ---
# 1024x768px : mx=900,my=252 // 1920x1080px : mx=1347,my=405 
# 2560x1440px : mx=1797,my=538
mx  = 1797
my  = 538
